@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

body {
    background-color: #f7f7f7;
    font-family: helvetica, arial, sans-serif;
}

.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
}

.search-input {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    color: #72a530;
    font-weight: bold;
    font-size: 3em;
}
.text-brc-green {
  color: #72a530;
}

.bg-brc-light-green {
  background-color: #DBE8C5;
}
.bg-brc-green {
  background-color: #72a530;
}